html {
  box-sizing: border-box;
  margin: 0;
}

.sky {
  width: 100vw;
  height: 100%;
  background-size: auto 100%;
  background-image: url("../Images/clouds.jpg");
  position: fixed;
}

.App {
  display: flex;
  justify-content: center;
  text-align: center;
  height: 100vh;
}

.logo {
  position: absolute;
  height: 300px;
  opacity: 0.8;
  top: 20%;
}

main {
  display: flex;
  justify-content: center;
}

.search-user {
  margin: 5vh 0 0 0;
}

button {
  font-family: "Inconsolata", monospace;
  font-weight: 700;
  font-size: 1.2rem;
  color: aliceblue;
  background-color: black;
  z-index: 1;
  height: fit-content;
  position: absolute;
  bottom: 10%;
}

.Asteroid {
  position: fixed;
  z-index: 5;
  top: -15%;
  left: 0;
  height: 10vw;
  width: 10vw;
  transition: transform 1.01s linear;
  border-radius: 50%;
}

.score {
  font-size: 3rem;
  position: absolute;
  bottom: 10%;
}

.score-number {
  font-size: 4rem;
  -webkit-text-stroke: 2px black;
}

/* Sizing user image  */
userImage {
  height: 30px;
  width: 30px;
}
