.App {
  display: flex;
  justify-content: center;
  text-align: center;
}

.Asteroid {
  height: 50px;
  width: 50px;
  background-color: green;
  transform: translateY(0px);
}

images {
  height: 50px;
  width: 50px;
  border-radius: 25px;
}


userImage {
  height: 30px;
  width: 30px;
}
