.App {
  display: flex;
  justify-content: center;
  text-align: center;
}

.Asteroid {
  position: fixed;
  z-index: 5;
  top: 0;
  left: 0;
  height: 5vw;
  width: 5vw;
  background-color: green;
  transition: transform 1.01s linear;
}

