html {
  box-sizing: border-box;
  margin: 0;
  background-image: url('Images/queen-bg.jpg');
}

.App {
  display: flex;
  justify-content: center;
  text-align: center;
  height: 100vh;
}

.logo {
  position: absolute;
  height: 300px;
  opacity: 0.6;
  top: 20%;
}

main {
  display: flex;
  justify-content: center;
}

.search-user {
  margin: 5vh 0 0 0;
}

button {
  font-family: 'Inconsolata', monospace;
  font-weight: 700;
  font-size: 1rem;
}

.Asteroid {
  position: fixed;
  z-index: 5;
  top: 0;
  left: 0;
  height: 10vw;
  width: 10vw;
  transition: transform 1.01s linear;
  border-radius: 50%;
}

.score {
  font-size: 2rem;
  position: absolute;
  bottom: 10%;
}

/* Sizing user image  */
userImage {
  height: 30px;
  width: 30px;
}
